@page
@model WebApp.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Информация</h1>

<div>
    <h4>Кола</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.RgNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.RgNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Km)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Km)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.IsRented)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.IsRented)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car?.Id">Редактирай</a> |
    <a asp-page="./Index">Обратно към списъка</a>
</div>
