@page
@model WebApp.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Автомобили";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Добавяне на нова кола</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].RgNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Km)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RgNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Km)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
