@page
@model WebApp.Pages.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтрий</h1>

<h3>Сигурни ли сте, че искате да премахнете този клиент?</h3>
<div>
    <h4>Клиент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Car)
        </dt>
        <dd class="col-sm-10">
            @{
                // Retrieve the Car object associated with the current customer's Car foreign key
                var car = await Model.GetCarAsync(Model.Customer.Car);

                // Display the Car Registration number instead of its Id
                @car.RgNum
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.To)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Customer.Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-page="./Index">Обратно към списъка</a>
    </form>
</div>
